:root {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: calc(min(32px, max(20px, 2vw)));
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
  min-height: 200vh;
  overflow-x: hidden;
}

canvas {
  position: sticky;
  top: -45vh;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: -1;
}

.text {
  mask-image: url("/contrast-text.svg");
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;

  aspect-ratio: 5;
  width: calc(max(256px, 50vw));

  backdrop-filter: invert(1) hue-rotate(180deg);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  z-index: 1;

  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

nav.shown {
  opacity: 1;
  transform: none;
}

nav>a {
  color: #000;
  font-style: italic;
}

main {
  max-width: 40rem;
  margin: -40vh auto 0;

  display: flex;
  flex-direction: column;
  justify-content: stretch;

  opacity: 0;
  transform: translateY(1em);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

main.shown {
  opacity: 1;
  transform: none;
}

h1 {
  text-align: center;
}