:root {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: calc(min(32px, max(20px, 2vw)));
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
  min-height: 110vh;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: -1;
}

.text {
  mask-image: url("/contrast-text.svg");
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;

  aspect-ratio: 5;
  width: calc(max(256px, 50vw));

  backdrop-filter: invert(1) hue-rotate(180deg);
}

main {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
  min-height: 300vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

main.shown {
  pointer-events: auto;
  opacity: 1;
}

h1 {
  position: sticky;
  top: 10vh;
  margin: 0;
  text-align: center;
  font-weight: 300;
}